.card_grid {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-auto-rows: minmax(100px, auto);
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  border-left: 5px solid blue;
  margin-top: 30px;
  box-shadow: 10px 15px #e8e8e8;
  background-color: white;
}
.card_text {
  border: 1px solid gray;
  border-left: none;
  font-size: 110%;
  padding-left: 20px;
}

.time_grid {
  display: grid;
  grid-template-rows: 50%;
}

.actualtime {
  padding: auto;
  text-align: center;
  border: 1px solid gray;
}

.timer {
  padding: auto;
  padding-top: 5%;
  text-align: center;
  font-weight: bold;
  border: 1px solid gray;
}

.display-txt {
  max-width: 70%;
  display: flex;
  outline: none;
  border: none;
  word-break: break-all;
  text-align: justify;
  padding: 0 auto;
}
